body{
    background-color:#f6f6f6;
}
#container{
    /* display: flex; */
    width: 85%;
    margin: auto;
}

#change{
    /* width: 20%; */
    padding: 20px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}
#filters h4,input, hr, .scroll{
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
}
.labels>div{
    display: flex;
    justify-content: space-between;
}
.labels h5:nth-child(2){
    flex-grow: 1;
    margin-left: 5px;
}
#cat_heading{
    margin: 20px;
}



#sorting{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 50px;
    margin-left: 0px;
    /* position: relative;  */
    width: 25%;
    align-items: center;
}
#sorting p{
    margin-right: 10px;
    flex-grow: 1;
}
#sort{
    border:none;
    height: 35px;
    border-radius: 2px;
}

#show_applied_filters{
    display: flex;
}
#show_applied_filters>span{
    display: flex;
}
#show_applied_filters #cf-txt{
    display: none;
}
